<footer class="text-center text-lg-start bg-light text-muted">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <div>

        </div>
    </section>

    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Projet Shop
                    </h6>
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                    <h6 class="text-uppercase fw-bold mb-4">
                        Produits
                    </h6>
                    <div *ngFor="let a of article">
                        <p>
                            <a href="#!" class="text-reset">{{a.nom}}</a>
                        </p>
                    </div>
                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                    <h6 class="text-uppercase fw-bold mb-4">
                        Liens Utiles
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Nos Produits</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Commandes</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Informations</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Aide</a>
                    </p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                    <h6 class="text-uppercase fw-bold mb-4">
                        Contact
                    </h6>
                    <p><i class="fas fa-home me-3"></i>France</p>
                    <p><i class="fas fa-envelope me-3"></i>info@projetshop.com</p>
                    <p><i class="fas fa-phone me-3"></i> + 01 XXX XXX XX</p>
                </div>
            </div>
        </div>
    </section>


    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        ProjetShop Formation Sopra Steria
    </div>


</footer>