<div class="container mt-5 mb-5 p-5 border border-dark rounded ">
  <div class="form-group" *ngIf="ActiveUser.role == 'ROLE_ADMIN'">
    <label for="id">id:</label>
    <input id="id" class="form-control" [(ngModel)]="client.id" readonly disabled="" />
  </div>
  <div class="form-group">
    <label for="nom">
      <h4>Nom:</h4>
    </label>
    <input id="nom" class="form-control" [(ngModel)]="client.nom" />
  </div>
  <div class="form-group">
    <label for="prenom">
      <h4>Prenom:</h4>
    </label>
    <input id="prenom" class="form-control" [(ngModel)]="client.prenom" />
  </div>
  <div class="form-group">
    <label for="mail">
      <h4>Adresse Mail:</h4>
    </label>
    <input id="mail" class="form-control" [(ngModel)]="client.mail" />
  </div>

  <div class="form-group">
    <label for="tel">
      <h4>Telephone:</h4>
    </label>
    <input id="tel" class="form-control" [(ngModel)]="client.tel" />
  </div>

  <div class="form-group">
    <label for="Adresse">
      <h4>Numéro de Rue:</h4>
    </label>
    <input id="adresse" class="form-control" [(ngModel)]="client.adresse!.numero" />
  </div>

  <div class="form-group">
    <label for="Adresse">
      <h4>Rue:</h4>
    </label>
    <input id="adresse" class="form-control" [(ngModel)]="client.adresse!.rue" />
  </div>

  <div class="form-group">
    <label for="Adresse">
      <h4>Code Postal:</h4>
    </label>
    <input id="adresse" class="form-control" [(ngModel)]="client.adresse!.codePostal" />
  </div>

  <div class="form-group">
    <label for="Adresse">
      <h4>Ville:</h4>
    </label>
    <input id="adresse" class="form-control" [(ngModel)]="client.adresse!.ville" />
  </div>

  <div class="form-group mt-5" style="text-align: center;">
    <button class="btn btn-outline-dark" (click)="save()" style="margin-right: 50px;">Modifier</button>
    <a routerLink="/home" routerLinkActive="active" class="btn btn-dark">Annuler</a>
  </div>
</div>