<div class="container mb-5 mt-5">
  <table class="table table-dark text-center">
    <thead class="thead-dark">
      <tr>
        <th>ID:</th>
        <th>Prenom:</th>
        <th>Nom:</th>
        <th>Mail:</th>
        <th>Telephone:</th>
        <th>Adresse</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="tbody-dark">
      <tr *ngFor="let c of clients">
        <td>{{ c.id }}</td>
        <td>{{ c.prenom }}</td>
        <td>{{ c.nom }}</td>
        <td>{{ c.mail }}</td>
        <td>{{c.tel}}</td>
        <td>{{c.adresse?.numero}} {{c.adresse?.rue}} {{c.adresse?.codePostal}} {{c.adresse?.ville}}</td>
        <td>
          <div class="button-td btn-group-vertical text-center ">
            <button routerLink="/client/edit/{{ c.id }}" routerLink="active" class="btn btn-light">
              <i class="fas fa-edit "></i>
            </button>
            <button (click)="delete(c.id!)" class="btn btn-light">
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>